<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light slidInToBot shadow">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><i class="bi bi-lightning-charge"></i>Administration</span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="min-width: 80px">
            <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house"></i> Accueil</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-activity"></i> Base de données
              </a>
              <ul class="dropdown-menu user-select-none" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item">Albums</a></li>
                <li><a class="dropdown-item">Groupes</a></li>
                <li><a class="dropdown-item">Details</a></li>
                <li><a class="dropdown-item">Genres</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#clearDB"><i class="bi bi-radioactive"></i> Vider la base de données</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#fillDB"><i class="bi bi-cloud-download"></i> Remplir la base de données</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#totalDB"><i class="bi bi-recycle"></i> Tout faire</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Total DB Modal -->
  <div class="modal fade" id="totalDB" tabindex="-1" aria-labelledby="clearDB" aria-hidden="true" style="color: black">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="totalDBLabel"><i class="bi bi-recycle"></i> Vider et remplire la base de données</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <i class="bi bi-exclamation-triangle"></i> Cette action va initier le vidage et le remplissage de toutes les tables de la base de données
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="callBDDAction(2)">Valider</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Clear DB Modal -->
  <div class="modal fade" id="clearDB" tabindex="-1" aria-labelledby="clearDB" aria-hidden="true" style="color: black">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="clearModalLabel"><i class="bi bi-radioactive"></i> Vider la base de données</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <i class="bi bi-exclamation-triangle"></i> Cette action va initier le vidage de toutes les tables de la base de données
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="callBDDAction(0)">Valider</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Fill DB Modal -->
  <div class="modal fade" id="fillDB" tabindex="-1" aria-labelledby="clearDB" aria-hidden="true" style="color: black">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fillDBModal"><i class="bi bi-cloud-download"></i> Remplir la base de données</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <i class="bi bi-exclamation-triangle"></i> Cette action va initier le remplissage de toutes les tables de la base de données
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="callBDDAction(1)">Valider</button>
        </div>
      </div>
    </div>
  </div>

  <!-- End DB Modal -->
  <div class="modal fade" id="endDB" tabindex="-1" aria-labelledby="clearDB" aria-hidden="true" style="color: black">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="endDBModal">Résumé</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="resumeMessage">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Finir</button>
        </div>
      </div>
    </div>
  </div>

  <!--LoadingModal-->
  <div class="modal fade" id="loading" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="color: black">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loadingLabel">
            Chargement...
            <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
            </div>
          </h5>
        </div>
        <div class="modal-body">
          <img src="https://c.tenor.com/rec5dlPBK2cAAAAd/mr-bean-waiting.gif" width="100%">
        </div>
      </div>
    </div>
  </div>

  <a [hidden]="true" id="triggerLoadModal" data-bs-toggle="modal" data-bs-target="#loading"></a>
  <a [hidden]="true" id="triggerResumeModal" data-bs-toggle="modal" data-bs-target="#endDB"></a>
</div>
