<div class="container-fluid user-select-none">
  <div class="row">
    <div class="col-12 cardNoW mb-1">
      <div class="dFlex text-center p-2">
        <div class="bigText">
          {{apiName}}
        </div>
      </div>
    </div>
    <div class="col-10 cardNoW me-1 p-1">
      <div class="table-responsive w-100">
        <div class="table table-dark table-striped table-hover w-100">
          <thead>
            <tr>
              <th *ngFor="let key of keys" scope="col">{{key}}</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of APIContent">
            <td *ngFor="let d of keys">{{data[d]}}</td>
            <td><button type="button" class="btn btn-outline-warning w-100" data-bs-toggle="modal" data-bs-target="#editData"><i class="bi bi-pencil"></i> Modifier</button></td>
            <td><button type="button" class="btn btn-outline-danger w-100" (click)="showDeleteModal(data['album'])"><i class="bi bi-trash"></i> Supprimer</button></td>
          </tr>
          </tbody>
        </div>
      </div>
    </div>
    <div class="col cardNoW">
      <button type="button" class="btn btn-outline-light w-100" data-bs-toggle="modal" data-bs-target="#addData" (click)="showAddModal()"><i class="bi bi-plus-square-dotted"></i> Ajouter</button>
    </div>
  </div>
</div>

<!-- add Data -->
<div class="modal fade" id="addData" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true" style="color: black">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDataModalLabel">Ajouter des données dans : {{apiName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-details *ngIf="showAdd"></app-add-details>
      </div>
    </div>
  </div>
</div>

<!-- supp Data -->
<div class="modal fade" id="suppData" tabindex="-1" aria-labelledby="suppDataModalLabel" aria-hidden="true" style="color: black">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="suppDataModalLabel">Ajouter des données dans : {{apiName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-remove-details [albumID]="this.albumID"></app-remove-details>
      </div>
    </div>
  </div>
</div>

<a [hidden]="true" id="TriggersuppData" data-bs-toggle="modal" data-bs-target="#suppData"></a>
