RewriteEngine On # Activer le module Rewrite

#API
RewriteRule ^API/details/?$ ./API/details.php [NC,L]
RewriteRule ^API/details+/(\d+)$ ./API/details.php?album=$1

RewriteRule ^API/albums/?$ ./API/albums.php [NC,L]
RewriteRule ^API/albums+/(\d+)$ ./API/albums.php?album=$1

RewriteRule ^API/groupes/?$ ./API/groupes.php [NC,L]
RewriteRule ^API/groupes+/(\d+)$ ./API/groupes.php?groupe=$1

RewriteRule ^API/recherche/?$ ./API/recherche.php [NC,L]
RewriteRule ^API/recherche+/(\d+)$ ./API/recherche.php?search=$1

RewriteRule ^API/structure/?$ ./API/structures.php [NC,L]

#bdd
RewriteRule ^dbBuild/?$ ./dbBuild.php [NC,L]
RewriteRule ^[^/]+/(\d+)$ ./dbBuild.php?action=$1