.card{
  background-color: rgba(245, 245, 245, 0.05);
  border-radius: 5px;
  height: fit-content;
  width: 100%;
}

.dataSection{
  background-color: rgba(245, 245, 245, 0.15);
  border-radius: 5px;

  overflow: hidden;

  padding: 5%;
}
