.dataSection{
  background-color: rgba(245, 245, 245, 0.15);
  border-radius: 5px;

  overflow: hidden;

  padding: 5%;
}

.coverSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albumCover{
  width: 80%;
  height: 100%;
}
