.tagBackground{
  border-radius: 5px;
  border: whitesmoke 1px solid;

  text-align: center;

  width: fit-content;
  min-height: 3.5em;

  padding: 5px;
}

span{
  line-height: 2em;
  font-size: 0.75vw;
}
