.tagBackground{
  border-radius: 5px;
  border: whitesmoke 1px solid;

  text-align: center;

  width: fit-content;
  min-width: 10em;
  min-height: 3.5em;
  max-height: 3.5em;

  padding: 10%;
}

h3{
  line-height: 100%;
}
