<div class="container-fluid h-100 justify-content-center overflow-hidden">
  <div class="row mb-2" style="height: 7%">
    <div class="col-12" style="border: black 1px solid;">

    </div>
  </div>

  <div class="row justify-content-center" style="height: 92%">
    <div class="m-2 col-1 sectionBackground shadow"> <!--Liens-->

    </div>
    <div class="m-2 col-4 p-1 overflow-auto justify-content-center sectionBackground shadow" style="max-height: 99%"> <!--Groupes-->
      <app-group-card></app-group-card>
    </div>
    <div class="m-2 col-6 sectionBackground shadow"> <!--Albums-->

    </div>
  </div>
</div>

<router-outlet></router-outlet>
