.dataSection{
  background-color: rgba(245, 245, 245, 0.15);
  border-radius: 5px;

  overflow: hidden;

  padding: 5%;
}

.coverSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.albumCover{
  width: 90%;
  height: auto;
}

@mixin animate($animation,$duration){
  animation: $animation $duration;
}

@mixin keyframes($name){
  @keyframes #{$name}{
    @content;
  }
}

.introAnim{
  @include keyframes(introAnim){
    from{
      opacity: 0%;
      margin-top: 100px;
    }
    to{
      opacity: 100%;
      margin-top: 0px;
    }
  }
  @include animate(introAnim, 1s);
}

