<div class="container introAnim p-2 card" style="height: 100%">
  <div class="row h-100 p-1">
    <div class="col-12" style="height: 40%">
      <div class="row p-2 h-100">
        <div class="col h-100 dataSection coverSection">
          <div class="text-center">
            <img src="{{correspondingAlbum['couverture']}}" class="albumCover"/>
          </div>
        </div>
        <div class="col-6 ms-1">
          <div class="row h-100">
            <div class="col-12 dataSection mb-1 dFlex" style="height: 20%">
              <div class="bigText">{{correspondingAlbum['nom']}}</div>
            </div>
            <div class="col-12 dataSection">
              <div class="dFlex flex-column h-100">
                <div class="sectionTitle">Liens</div>
                <div class="dFlex overflowX flex-row justify-content-start w-100 p-1" style="min-height: 80%">
                  <button type="button" class="btn btn-outline-light" (click)="openLink(albumLink)">
                    <i class="bi bi-music-note-beamed"></i>
                    LastFM
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" style="height: 25%">
      <div class="row p-2" style="height: 96%">
        <div class="col-12 dataSection mb-1" style="height: 10%">
          <div class="dFlex h-100 w-100">
            <div class="bigText">Description</div>
          </div>
        </div>
        <div class="col-12 dataSection overflowY" style="height: 89%">
          <div class="w-100 h-100">
            {{albumDescription}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" style="height: 20%">
      <div class="row p-2" style="height: 96%">
        <div class="col-12 dataSection mb-1" style="height: 10%">
          <div class="dFlex h-100 w-100">
            <div class="bigText">Pistes</div>
          </div>
        </div>
        <div class="col-12 dataSection p-1 overflow-auto" style="height: 89%">
          <div class="overflowY d-flex flex-wrap flex-row">
            <app-track-tag class="m-1 mb-1" style="min-width: 200px" *ngFor="let track of Tracks" [track]="track"></app-track-tag>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
