<div class="container mb-2 p-2 card" style="width: 100%; height: 17em" >
  <div class="row g-1 shadow" style="max-width: 89%">
    <div class="col-12 d-flex flex-row p-1 colHeight overflow-hidden dataSection justify-content-center p-2">
      <h1 class="d-block borderBlack fs-2">{{ GroupName }}</h1>
    </div>
    <div class="col p-1 me-1 colHeight dataSection">
      {{ GroupChanteur }}
    </div>
    <div class="col p-1 ms-1 colHeight dataSection">
      {{ GroupOrigin }}
    </div>
    <div class="col-12 p-1 colHeight dataSection">

    </div>
  </div>
</div>
