.colHeight{
  height: 5em;
}

.card{
  background-color: rgba(245, 245, 245, 0.05);
  border-radius: 5px;
}

.dataSection{
  background-color: rgba(245, 245, 245, 0.15);
  border-radius: 5px;
}

h1{
  line-height: 1.75em;
}
