.colHeight{
  height: 5em;
}

.card{
  background-color: rgba(245, 245, 245, 0.24);
  border-radius: 5px;
}

.dataSection{
  background-color: rgba(245, 245, 245, 0.24);
  border-radius: 5px;
}
