<div class="container mb-2 p-2 card" style="width: 100%; height: fit-content" >
  <div class="row h-100 g-1">
    <div class="col" style="max-width: 90%">
      <div class="row g-1 me-1 p-1" >
        <div class="col-12 colHeight overflow-hidden dataSection">
          <div class="sectionTitle">Groupe :</div>
          <div class="bigText">{{ GroupName }}</div>
        </div>
        <div class="col colHeight dataSection">
          <div class="sectionTitle">Chanteur :</div>
          <div class="mediumText">{{ GroupChanteur }}</div>
        </div>
        <div class="col ms-1 colHeight dataSection">
          <div class="sectionTitle">Origine :</div>
          <div class="mediumText">{{ GroupOrigin }}</div>
        </div>
        <div class="col-12 p-1 colHeight dataSection genreSection" style="height: fit-content; min-height: 7em">
          <div class="d-flex flex-column w-100 h-100">
            <div class="sectionTitle text-center">Genre(s) :</div>
            <div class="d-flex flex-row overflowX h-100 w-100">
              <app-genre-tag *ngFor="let genre of GroupGenres; let i = index" [tagName]="genre['nom']"></app-genre-tag>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col align-content-center" (click)="getAlbums(GroupID)" style="max-width: 10%">
      <div class="h-100 w-100 btn btn-outline-light alignIconMiddle" title="Afficher les albums de {{GroupName}}">
        <div>
          <i class="bi bi-chevron-double-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
