.colHeight{
  height: 5em;
}

.card{
  background-color: rgba(245, 245, 245, 0.05);
  border-radius: 5px;
}

.dataSection{
  background-color: rgba(245, 245, 245, 0.15);
  border-radius: 5px;

  overflow: hidden;

  padding: 5%;
}

h1{
  line-height: 100%;
}

h2{
  line-height: 100%;
}

.overflowX{
  overflow-x: auto;
  overflow-y: hidden;
}
