
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@import "~bootstrap-icons/font/bootstrap-icons.css";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-apiMusic-primary: mat.define-palette(mat.$indigo-palette);
$angular-apiMusic-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-apiMusic-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-apiMusic-theme: mat.define-light-theme((
  color: (
    primary: $angular-apiMusic-primary,
    accent: $angular-apiMusic-accent,
    warn: $angular-apiMusic-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-apiMusic-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: linear-gradient(135deg, #185a9d, #43cea2) no-repeat fixed;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #f5f5f5}


.borderBlack{
  border: black solid 1px;
}

.verticalAlignMiddle{
  vertical-align: middle;
}

.alignIconMiddle{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5em;
}

.bigText{
  font-size: 2.5em;
  margin: 2.5px;
}

.mediumText{
  font-size: 1.5em;
  margin: 2.5px;
}

.sectionTitle{
  font-size: 1em;
  margin: 2.5px;

  color: rgba(245, 245, 245, 0.5);
}

.overflowX{
  overflow-x: auto;
  overflow-y: hidden;
}

.overflowY{
  overflow-x: hidden;
  overflow-y: auto;
}

.dFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: rgba(245, 245, 245, 0.05);
  border-radius: 5px;
  height: fit-content;
  width: 100%;
}

@mixin animate($animation,$duration){
  animation: $animation $duration;
}

@mixin keyframes($name){
  @keyframes #{$name}{
    @content;
  }
}

.slidInToTop{
  @include keyframes(slidInToTop){
    from{
      opacity: 0%;
      margin-top: 100%;
    }
    to{
      opacity: 100%;
      margin-top: 0%;
    }
  }
  @include animate(slidInToTop, 1s);
}

.slidInToBot{
  @include keyframes(slidInToBot){
    from{
      opacity: 0%;
      margin-top: -100%;
    }
    to{
      opacity: 100%;
      margin-top: 0%;
    }
  }
  @include animate(slidInToBot, 1s);
}
